{% extends "patients/main.html" %} {% block conten %}
<h1>This is Register</h1>

<div class="container">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    Add Patients
  </button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Sex</th>
        <th>Date of Birth</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients%}
      <tr>
        <th>{{patient.id}}</th>
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.Sex}}</td>
        <td>{{patient.DateOfBirth}}</td>
        <td><img src="{{patient.picture.url}}" alt="" srcset="" /></td>
        <td>
          <a href="{% url 'update' patient.id %}" class="btn btn-primary"
            >Edite</a
          >
          <a href="{% url 'delete' patient.id %}" class="btn btn-danger"
            >Delet</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">{{patientform}}</div>
        <div class="modal-footer">
          <button
            type="Button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="summit" class="btn btn-primary">Save Patients</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
